* {
    margin : 0;
    padding: 0;
}

.body {
    font-family: "Montserrat", sans-serif;
}

.center {
    padding-left : calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header {
    background-color   : #E1FF8F;
    background-size    : cover;
    background-position: center;
    height             : 800px;
    display            : flex;
    flex-direction     : column;
    flex-wrap          : wrap;
}


.header-block__title {
    font-family: "Montserrat";
    font-weight: 700;
    font-size  : 64px;
    line-height: 78.02px;
    padding-top: 196px;
    max-width  : 769px;
}

.header-block__discription {
    font-family: "Montserrat";
    font-weight: 400;
    font-size  : 24px;
    line-height: 32px;
    padding-top: 24px;
    max-width  : 720px;
}

.highlight {
    font-weight: 600;
    font-size  : 24px;
    line-height: 32px;
}

.header-block__link {
    display        : inline-block;
    text-decoration: none;
    font-weight    : 600;
    font-size      : 24px;
    color          : #FFFFFF;
    background     : #202027;
    border         : 1px solid#FFFFFF;
    box-sizing     : border-box;
    border-radius  : 60px;
    width          : 247px;
    height         : 66px;
    margin-top     : 64px;
    padding-top    : 16px;
    text-align     : center;
}

.header-block__link:hover {
    color       : #202027;
    border-color: #202027;
    background  : #FFFFFF;
}

.block-game {
    background-color   : #202027;
    background-size    : cover;
    background-position: center;
    height             : auto;
    display            : flex;
    flex-direction     : column;
    flex-wrap          : wrap;
}

.block-game__header {
    font-weight: 600;
    font-size  : 64px;
    color      : #FFFFFF;
    line-height: 78.02px;
    padding-top: 95px;
}

.block-game__discription {
    font-weight: 400;
    font-size  : 24px;
    color      : #FFFFFF;
    line-height: 32px;
    width      : 788px;
    margin-top : 24px;

}

.block-game__box {
    margin-top           : 72px;
    display              : grid;
    grid-template-columns: repeat(3, 378px);
    grid-auto-rows       : minmax(473px, auto);
    gap                  : 32px;
    justify-content      : center;
}

.block-game__link {
    text-decoration: none;
    color          : #202027;
}

.block-game__form {
    background-color: #FFFFFF;
    width           : 378px;
    border-radius   : 30px;
    height          : 473px;
}

.block-game__form:hover {
    transform: scale(1.1)
}

.block-game__formbig {
    height: 551px;
}

.block-game__img {
    border-radius: 30px;
}

.block-game__button {
    font-family  : "Montserrat";
    margin-top   : 32px;
    margin-left  : 32px;
    border-radius: 52.58px;
    border-color : #F7F7F7;
    width        : 108px;
    height       : 36px;
    border       : none;
    font-weight  : 500;
    font-size    : 15px;
    line-height  : 17.6px;
}

.block-game__title {
    margin-top : 16px;
    margin-left: 32px;
    font-weight: 700;
    font-size  : 32px;
    width      : 314px;
}

.block-game__quiz {
    height: 512px;
}

.block-minigame {
    background-color   : #202027;
    background-size    : cover;
    background-position: center;
    height             : auto;
    display            : flex;
    flex-direction     : column;
    flex-wrap          : wrap;
    padding-bottom     : 144px;
}

.block-minigame__game {
    margin-top: 72px;
}

.block-minigame__header {
    margin-top : 96px;
    font-weight: 700;
    font-size  : 64px;
    color      : #FFFFFF;
}

.block-minigame__form {
    background-color: #FFFFFF;
    width           : 1200px;
    border-radius   : 30px;
    height          : 500px;
    display         : flex;
    flex-direction  : row;
    flex-wrap       : nowrap;
    justify-content : space-between;

}

.block-minigame__divcontent {
    margin-left: 48px;
}


.block-minigame__title {
    font-weight: 700;
    font-size  : 48px;
    line-height: 58.51px;
    margin-top : 48px;

}

.block-minigame__discription {
    font-weight: 400;
    font-size  : 24px;
    line-height: 32px;
    margin-top : 24px;
}

.block-minigame__link {
    display        : inline-block;
    text-decoration: none;
    font-weight    : 600;
    font-size      : 24px;
    padding-top    : 16px;
    color          : #FFFFFF;
    text-align     : center;
    background     : #202027;
    border         : 1px solid #FFFFFF;
    box-sizing     : border-box;
    border-radius  : 30px;
    width          : 247px;
    height         : 66px;
    margin-top     : 36px;
}

.block-minigame__link:hover {
    color       : #202027;
    border-color: #202027;
    background  : #FFFFFF;
}

.block-minigame__img {
    width        : 600px;
    height       : 500px;
    border-radius: 30px;
}

.footer {
    background-color   : #BDED35;
    background-size    : cover;
    background-position: center;
    height             : 150px;
    display            : flex;
    flex-direction     : column;
    flex-wrap          : wrap;
}

.footer__title {
    font-weight    : 600;
    font-size      : 24px;
    line-height    : 29.26px;
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    justify-content: center;
    padding-top    : 61px;
}